/*Fonts*/
@font-face {
  src: url(fonts/Mogan-Regular.ttf);
  font-family: Mogan;
}
@import url("https://use.typekit.net/fau2fiu.css");

/*Variables*/
:root {
  --bg-color: #ffff;
  --link-color: #f3b3b9;
  --link-hover-color: #a9a1ca;
  --color-4: #97cfca;
  --color-5: #a2c8f4;

  --primary-font: Mogan, serif;
  --secondary-font: "Agenda", sans-serif;
  --main-text-color: #364b3e;

  --white-space: 1rem;

  --shadow: 0 0 1rem #a7a7a7;
}

/*Shop*/
#shop_main h3,
#shop_main h4 {
  margin: 0;
  padding-bottom: 5%;
}
#shop_main {
  background-color: var(--bg-color);
  color: var(--bg-color);
  font-family: var(--secondary-font);
}
.categories a {
  border: none;
  border-radius: 0.6rem;
  background-color: var(--link-color);
  padding: 1% 4%;
  max-width: 100%;
  font-family: var(--secondary-font);
  color: var(--bg-color);
  font-style: normal;
  text-decoration: none;
}
.categories a:hover {
  background-color: var(--link-hover-color);
}
.inner_shopItem {
  border-radius: 1.5rem;
  background-color: var(--color-4);
}
.inner_shopItem:hover {
  box-shadow: var(--shadow);
}
.overall_shopItem {
  text-align: center;
}
.overall_shopItem button {
  border: none;
  border-radius: 0.6rem;
  background-color: var(--link-color);
  max-width: 100%;
  font-family: var(--secondary-font);
  color: var(--bg-color);
  font-style: normal;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}
.overall_shopItem button:hover {
  background-color: var(--link-hover-color);
}
.shop_img {
  max-width: 90%;
  border-radius: 2.5rem;
  padding: 5%;
}
.dynamic_content a {
  text-decoration: none;
  color: var(--bg-color);
}
#shop_main h1 {
  color: var(--main-text-color);
  text-align: center;
}

@supports (display: grid) {
  .categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .dynamic_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-around;
    padding: 1.5rem 2rem;
    gap: 1%;
  }
  .overall_shopItem button {
    padding: 5% 30%;
  }
  @media screen and (min-width: 768px) {
    .overall_shopItem button {
      padding: 3% 10%;
    }
  }
  @media screen and (min-width: 1101px) {
  }
}
