/*Fonts*/
@font-face {
  src: url(fonts/Mogan-Regular.ttf);
  font-family: Mogan;
}
@import url("https://use.typekit.net/fau2fiu.css");

/*Variables*/
:root {
  --bg-color: #ffff;
  --link-color: #f3b3b9;
  --link-hover-color: #a9a1ca;
  --color-4: #97cfca;
  --color-5: #a2c8f4;

  --primary-font: Mogan, serif;
  --secondary-font: "Agenda", sans-serif;
  --main-text-color: #364b3e;

  --white-space: 1rem;
}

/*header*/
header {
  margin: var(--white-space);
  display: flex;
  flex-direction: column;
  gap: var(--white-space);
  align-items: center;
  font-family: var(--primary-font);
}
header nav {
  width: 100%;
}
header ul {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*header li {
  justify-self: center;
}*/
.logo {
  max-width: 33%;
}
ul img {
  max-width: 2rem;
}
header a {
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 1.2rem;
}
header a:hover {
  color: var(--color-4);
  transition: all ease 0.5s;
}

@supports (display: grid) {
  @media screen and (min-width: 768px) and (max-width: 1100px) {
    header {
      flex-direction: row;
      column-gap: calc(var(--white-space) * 4);
    }
    .logo {
      max-width: 25%;
    }
  }
  @media screen and (min-width: 1101px) {
    header {
      flex-direction: row;
      column-gap: calc(var(--white-space) * 4);
    }
    .logo {
      max-width: 25%;
    }
  }
}
