/*Fonts*/
@font-face {
  src: url(../fonts/Mogan-Regular.ttf);
  font-family: Mogan;
}
@import url("https://use.typekit.net/fau2fiu.css");

/*Variables*/
:root {
  --bg-color: #ffff;
  --link-color: #f3b3b9;
  --link-hover-color: #a9a1ca;
  --color-4: #97cfca;
  --color-5: #a2c8f4;

  --primary-font: Mogan, serif;
  --secondary-font: "Agenda", sans-serif;
  --main-text-color: #364b3e;

  --white-space: 1rem;

  --shadow: 0 0 1rem #a7a7a7;
}

/*Shop*/
#shop_main h3,
#shop_main h4 {
  margin: 0;
  padding-bottom: 5%;
}
#shop_main {
  background-color: var(--bg-color);
  color: white;
  font-family: var(--secondary-font);
}
.categories a {
  border: none;
  border-radius: 0.6rem;
  background-color: var(--link-color);
  padding: 3% 4%;
  max-width: 100%;
  font-family: var(--secondary-font);
  color: var(--bg-color);
  font-style: normal;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.categories a:hover {
  background-color: var(--link-hover-color);
}
.inner_shopItem {
  border-radius: 1.5rem;
  background-color: var(--color-4);
}
.inner_shopItem:hover {
  box-shadow: var(--shadow);
}
.overall_shopItem {
  text-align: center;
}
.overall_shopItem button {
  border: none;
  border-radius: 0.6rem;
  background-color: var(--link-color);
  max-width: 100%;
  font-family: var(--secondary-font);
  color: var(--bg-color);
  font-style: normal;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}
.overall_shopItem button:hover {
  background-color: var(--link-hover-color);
}
.shop_img {
  max-width: 90%;
  border-radius: 2.5rem;
  padding: 5%;
}
.dynamic_content a {
  text-decoration: none;
  color: var(--bg-color);
}
#shop_main h1 {
  color: var(--main-text-color);
  text-align: center;
}

/*header*/
header {
  margin: var(--white-space);
  display: flex;
  flex-direction: column;
  gap: var(--white-space);
  align-items: center;
  font-family: var(--primary-font);
}
.topNav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;

  overflow: hidden;
  position: relative;
}
header nav {
  width: 100%;
  display: none;
}
header ul {
  display: grid;
  grid-template-rows: repeat(5, auto);
  justify-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.logo {
  width: 170%;
  height: auto;
  grid-column: 2/3;
  justify-self: center;
}
.logo img {
  max-width: 100%;
}
.menu {
  max-width: 20%;
  justify-self: end;
}
header a {
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 1.2rem;
}
header li {
  width: 100%;
  text-align: center;
  padding: var(--white-space);
}
header li:hover {
  /*background-color: rgb(240, 240, 240);*/
  border: solid var(--main-text-color) 0.1rem;
  transition: all ease 0.5s;
}
.cart {
  width: 2rem;
}
.cart a {
  width: 100%;
  height: auto;
}

/*footer*/
footer {
  font-family: var(--secondary-font);
  color: var(--main-text-color);
  margin: 0 calc(var(--white-space) * 2);
  padding: calc(var(--white-space) * 2) 0;
  border-top: solid var(--main-text-color) 0.1rem;
}
footer nav {
  display: grid;
  gap: calc(var(--white-space) * 3);
  justify-content: center;
}
footer h4 {
  font-size: 1rem;
  margin: 0%;
}
footer p {
  padding: 0;
  margin: 0%;
}
.info h4 {
  text-align: center;
}
.info div {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(2, auto);
  column-gap: var(--white-space);
  align-items: end;
  padding-top: var(--white-space);
}
.info p {
  grid-column: 2/3;
}
.info img {
  grid-row: 1/3;
  max-width: 2rem;
}
.social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;
  row-gap: var(--white-space);
  justify-items: center;
}
.social h4 {
  grid-column: 1/3;
  margin: 0;
}
.social img {
  max-width: 3rem;
}

/* PRODUCT PAGE */
#product_body {
  margin: 0;
  padding: 0;
}

#product_main {
  background-color: var(--color-4);
}

#product_main h3 {
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--main-text-color);
}

#product_main p {
  font-family: var(--secondary-font);
  color: var(--main-text-color);
}

.singleProduct_name {
  text-align: center;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  color: var(--main-text-color);
  padding-top: 1rem;
}

.singleProduct_price {
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: bold;
  color: var(--main-text-color);
}

.single_img {
  border-radius: 2.5rem;
  max-height: 90%;
}

#product_image {
  display: flex;
  justify-content: center;
}

#product_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-bottom: #364b3e 0.1rem solid;
  color: var(--main-text-color);
  padding-bottom: 1rem;
}

#more_info {
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--main-text-color);
}

#availability {
  text-align: center;
  color: var(--main-text-color);
  font-family: var(--secondary-font);
}

b {
  color: var(--link-hover-color);
  font-family: var(--secondary-font);
}

#amount {
  border: #364b3e solid 0.2rem;
  background-color: var(--bg-color);
  width: 40px;
  height: 40px;
}

#amount p {
  font-family: var(--secondary-font);
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
}

#add_to_bag {
  display: flex;
  justify-content: center;
  align-items: center;
}

#product_main button {
  border: none;
  border-radius: 0.6rem;
  padding: 1rem;
  background-color: var(--link-color);
  max-width: 100%;
  font-family: var(--secondary-font);
  font-style: normal;
  color: var(--bg-color);
  margin: 1rem;
}

#product_main button:hover {
  background-color: var(--link-hover-color);
}

@supports (display: grid) {
  .categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    grid-gap: 5%;
  }
  .categories a {
    padding: 4% 7%;
  }
  .dynamic_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-around;
    padding: 1.5rem 2rem;
    gap: 1%;
  }
  .overall_shopItem button {
    padding: 5% 30%;
  }
  @media screen and (min-width: 768px) {
    .overall_shopItem button {
      padding: 3% 10%;
    }
    .categories {
      justify-content: space-around;
      flex-direction: row;
    }
    .categories a {
      padding: 1% 4%;
    }
    #product_main {
      border-radius: 2.5rem;
      margin: 2.5rem;
      padding-bottom: 2rem;
    }

    #product_image {
      justify-content: flex-start;
      padding: 1rem;
      max-height: 100%;
    }

    #product_info {
      display: flex;
      flex-direction: column;
      border-bottom: none;
    }

    #all_product_info {
      display: flex;
      justify-content: space-around;
      border-bottom: solid 0.1rem var(--main-text-color);
    }
    header {
      flex-direction: row;
      align-content: center;
    }
    .logo img {
      max-width: 70%;
    }
    .topNav {
      display: block;
      width: 50%;
    }
    header nav {
      display: block;
    }
    header ul {
      display: flex;
      justify-content: end;
      align-items: center;
      justify-self: end;
    }
    .menu {
      display: none;
    }
    header ul {
      justify-items: end;
    }
    header li {
      border-radius: 1rem;
    }
    .cart {
      width: 10rem;
    }
    footer nav {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: calc(var(--white-space) * 15);
    }
  }
  @media screen and (min-width: 1101px) {
    #product_main {
      border-radius: 2.5rem;
      margin: 2.5rem;
    }

    #product_image {
      justify-content: flex-start;
      padding: 1rem;
      max-height: 100%;
    }

    #product_info {
      display: flex;
      flex-direction: column;
      grid-template-rows: 1fr 1fr;
      border-bottom: none;
    }

    #all_product_info {
      display: flex;
      border-bottom: solid 0.1rem var(--main-text-color);
      justify-content: space-evenly;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    footer nav {
      gap: calc(var(--white-space) * 30);
    }
    .categories {
      flex-direction: row;
    }
  }
}
